.hide-tabs {
    -fx-tab-max-height: 0;
}

.hide-tabs .tab-header-area {
    visibility: hidden;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}