@import '/css/material-color.css';

.root {
    -fx-base: md-grey-850;
    -fx-background: md-grey-850;
    -fx-control-inner-background: md-grey-850;
    -fx-text-fill: md-grey-850;
}

.header-bar {
    -fx-base: md-grey-900;
    -fx-background: md-grey-900;
    -fx-control-inner-background: md-grey-900;
    -fx-text-fill: md-grey-900;
}