@import '/css/material-color.css';

.centered-cell {
    -fx-alignment: CENTER;
}

.table-row-cell:odd {
    -fx-background-color: rgba(33, 37, 41, 0.25);
}

.table-view,
.table-view:selected{
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: md-blue-800;
}

.progress-cell {
    /*-fx-font-weight: bold;*/
}

.cell-muted-text {
    -fx-text-fill: md-grey-600;
}